/* Definición de estilos específicos */
.hero-section {
    background: linear-gradient(rgba(0, 48, 96, 0.8), rgba(0, 48, 96, 0.8)), 
                url('assets/bus-principal.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card-servicio {
    @apply bg-white p-8 rounded-2xl shadow-lg border-b-4 border-blue-700 hover:-translate-y-2 transition-all duration-300;
}